<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Predicted Reports & Graphs</title>
  <link rel="stylesheet" href="/style/style.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script> <!-- Axios -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script> <!-- Chart.js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.16.9/xlsx.full.min.js"></script> <!-- XLSX -->
  <script src="/predictive_reports/predicted_reports.js" defer></script> 
</head>
<body class="container">

  <div class="navbar">
   
    <form action="/logout" method="POST">
      <button type="submit" class="button">Logout</button>
    </form>
    
    <form action="/current" method="POST">
      <button type="submit" class="button">Current Reports</button>
    </form>

    <form action="/home" method="POST">
      <button type="submit" class="button"> My Timesheet</button>
    </form>
    <form action="/my_report" method="POST">
      <button type="submit" class="button">My Work Breakdown</button>
    </form>
    <form action="/predicted" method="POST">
      <button type="submit" class="button">Predictive Reports</button>
    </form>
    <form action="/employee_reports" method="POST">
      <button type="submit" class="button">Employee Reports</button>
    </form>
    <form action="/admin" method="POST">
      <button type="submit" class="button">Admininistration</button>
    </form>
  </div>

  <div class="reports_card">
  <h1 id="reportHeading">Predicted Reports</h1>
    
  <div id="loadingScreen" style="position:fixed; top:0; left:0; width:100%; height:100%; background:white; display:flex; align-items:center; justify-content:center; z-index:9999;">
    <div>
      <h1>Loading Reports...</h1>
      <div class="loader"></div>
    </div>
  </div>
  <label for="monthsDropdown">Select Amount of Months:</label>
  <select id="monthsDropdown">
    <option value="1">1 Month</option>
    <option value="3">3 Months</option>
    <option value="6">6 Months</option>
    <option value="12" selected>1 Year</option>
</select>

  <button class="gen-button" id="generateReport"> <i class="fa-solid fa-table-list"></i> Generate Report</button>

    
    <div class="charts-container">
      <span class ="paymentsChartDiv">
    <h1 class ="paymentsChartHeader"></h1>
    <canvas id="paymentsChart"><h1>Loading....</h1></canvas>
    </span>
    <span class ="profitLossChartDiv">
    <h1 class ="profitLossChartHeader"></h1>
    <canvas id="profitLossChart"></canvas>
    </span>
    <span class ="costChartDiv">
    <h1 class ="costChartHeader"></h1>
    <canvas id="costChart"></canvas>
    </span>
</div>
  
    <table id="reportTable">
      <thead>
          <tr>
              <th>Client</th>
              <th>Total Hours Worked</th>
              <th>Cost</th>
              <th>Client Payment</th>
              <th>Profit/Loss %</th>
              <th>Detail Breakdown</th>
          </tr>
      </thead>
      <tbody id="reportTableBody">
          <!-- Table rows will be dynamically added here -->
          
      </tbody>
  </table>
    
  <button class="gen-button" id="downloadReport">Download Report</button>
</div>
<div id="t" class="toast">
  <div class="toast-content">
    <button onclick="closeToast()" style="float: right; background: none; border: none; font-size: 24px; cursor: pointer;">&times;</button>
    <h2 id="modalTitle"></h2>
    <div id="modalBody"></div>
  </div>
</div>


</body>
</html>
